.title {
    margin: 3px 1em 3px 1em !important;
    height: 35px;
    font-size: 1.5em;
    font-weight: bold;
}

.racenum {
    height: 25px;
    font-size: 1.5em;
    font-weight: bold;
}

.desc {
    height: 25px;
    font-size: 1.5em;
}